html
    head
        title SSEs, Node.js, and Redis
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        != body

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
        script(src='/javascripts/jquery.json.js')
        script(type='text/javascript').
            var source = new EventSource('/update-stream');
            source.addEventListener('message', function(e) {
                console.log(e);


                $('div').append('<canvas id="canvas_'+ e.lastEventId +'">' + e.data + ' (message id: ' + e.lastEventId + ')</canvas>');

                //start
                var ctx = document.querySelector("#canvas_"+e.lastEventId).getContext("2d"),
                    dashLen = 220, dashOffset = dashLen, speed = 8,
                    txt = e.data, x = 30, i = 0, fontSize = 30;
                ctx.font = fontSize + "px Centaur, sans-serif";
                ctx.lineWidth = fontSize / 25;
                ctx.lineJoin = "round";
                ctx.globalAlpha = 2 / 3; //transparency
                var grd = ctx.createRadialGradient(75, 50, 5, 90, 60, 100);
                grd.addColorStop(0, "red");
                grd.addColorStop(.75, "blue");
                grd.addColorStop(1, "orange");
                //ctx.strokeStyle = ctx.fillStyle = grd;
                ctx.fillStyle = grd;
                (function loop() {
                    //ctx.clearRect(x, 0, 60, 150);
                    ctx.setLineDash([dashLen - dashOffset, dashOffset - speed]); // create a long dash mask
                    dashOffset -= speed;                                         // reduce dash length
                    ctx.strokeText(txt[i], x, 90);                               // stroke letter

                    if (dashOffset > 0) requestAnimationFrame(loop);             // animate
                    else {
                        ctx.fillText(txt[i], x, 90);                               // fill final letter
                        dashOffset = dashLen;                                      // prep next char
                        x += ctx.measureText(txt[i++]).width + ctx.lineWidth * Math.random();
                        ctx.setTransform(1, 0, 0, 1, 0, 3 * Math.random());        // random y-delta
                        ctx.rotate(Math.random() * 0.005);                         // random rotation
                        if (i < txt.length) requestAnimationFrame(loop);
                    }


                })();
                //end



            }, false);
